

$primary: rgb(21, 130, 145);
$danger: rgba(227, 58, 58, 0.8);


/*FONT SIZE*/
$xxlFontSize: 1.4rem;
$xlFontSize: 1.25rem;
$lgFontSize: 1.1rem;
$mdFontSize: 0.9rem;
$smFontSize: 0.8rem;
$xsFontSize: 0.7rem;

/*COLORS*/
$buttonColor: #4C76E8;
$searchbarColor: rgb(121, 160, 219);
$loginFormBgColor: #F1F1F1;
