@import "variables";
@import "utilities";


.profile-post-img {
    width: 240px;
    height: 200px;
    max-width: fit-content;
}

.contacts {
    img {
        width: 155px;
        height: 55px;
        object-fit: cover;
    }
}
.home-post {
    img {
        max-width: 150px;
        max-height: 150px;
    }
}
.nav-item:hover {
    text-decoration: underline;
}

form {
    button {
        max-height: 40px;
    }
}
.form-control:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.profile-banner {
    max-height: 100px;
}
@import "../../node_modules/bootstrap/scss/bootstrap";